*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Oswald', sans-serif;
}
img{
	max-width: 100%;
	height: auto;
	-o-object-fit: cover;
	   object-fit: cover;
	background-size: cover;
	background-position: center; 
}
ul{
	list-style: none;
}
#page{
	background-image: url(../images/nen.jpg);
	background-attachment: fixed;
	width: 100%;
	height: 100%;
}
.header-2{
	background-color: #b00108;
}
.header-2 ul{
	display: flex;
	justify-content: flex-end;
	margin-bottom: 0;
}
.header-2 li{
	padding: 10px 0;
	color: #fff;
}
.header-2 li input{
	position: relative;
	    border-radius: 30px;
    border: none;
    padding: 5px 5px 5px 10px;
}
.header-2 li i{
	top: 17px;
    right: 23%;
    color: #000;
	position: absolute;
	
}
.header-2 a{
	display: block;
	padding: 0 5px;
	color: #fff;
	font-weight: 600;
	
}
.header-2 a:hover{
	text-decoration: none;
	color: yellow;
}
.menu-1{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 0;

}
.menu-1 li{
	/*margin: 0 0 10px 0;*/
}
.menu-1 a{
	padding: 10px 30px;
	color: #fff;
    font-size: 20px;
    font-weight: 600;
    display: block;
}
.menu-1 a:hover{
	text-decoration: none;
	color: yellow;
}
.new{
	position: relative;
}
.menu-2{
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 70px;
	left: -185%;
	transition: all 0.4s;
	width: 300px;
	background-color: #fff;
	color: #fff;
	display: flex;
	justify-content: center;
	width: 1110px;
	background-color: #000
}
.menu-2 li{
	width: 23%;
	text-align: center;
	font-weight: bold;
	margin: 0 1%;
}
.menu-2 span{
	border: 1px dashed gray;
    display: block;
    margin: 10px 0;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 700;
}
.new:hover .menu-2{
	opacity: 1;
	visibility: visible;
	top: 50px;
}
.menu-3 li{
	width: 100%;
}
.menu-3 a{
	color: #fff;
	padding: 3% 0;
	text-align: left;
	font-weight: normal;
	transition: all 0.4s;
	font-weight: bold;
	font-size: 14px;
}
.menu-3 a:hover{
	color: red;
	/*margin-left: 10px;*/
}
video{
	position: relative;
}
.header-1{
	position: absolute;
	z-index: 999;
	width: 100%;
	background: rgba(0,0,0,0.6);
}
/*end header*/

/*start main*/
.gt-lhp-1{
	padding-bottom: 3%;
}
.title-film{
	text-align: center;
	font-family: 'Pattaya', sans-serif;
	   padding-top: 5%;
    font-size: 45px;
    color: #fff;
    text-transform: capitalize;
    padding-bottom: 3%;
    font-weight: 700;
	
}
.gt-lhp p{
	padding: 0 20%;
    color: #fff;
    text-indent: 5%;
    text-align: center;
}
.giai-thuong{
	background-color: #fff;
}
.title-film-2{
	text-align: center;
	color: #000;
	text-transform: capitalize;
	font-weight: 700;
	font-size: 45px;
	font-family: 'Pattaya', sans-serif;
	color: #b00108;
	padding: 5%;
}
.giai-thuong-1{
	padding: 5% 0;
}
.img-text{
	border: 1px solid gray;
	border-radius: 5px;
}
.img-text img{
	width: 100%;
	height: 350px;
	padding: 5px;
}
.img-text h4{
	font-size: 16px;
    padding: 0 5px;
    text-align: center;
    color: #000;
    font-weight: 600;
}
.img-text h4:after{
	content: "";
	border: 1px solid gray;
	position: absolute;
	    width: 85%;
    bottom: 22%;
    left: 8%;
}
.img-text a:hover{
	text-decoration: none;
	color: #b00108;
}
.img-text h4:hover{
	text-decoration: none;
	color: #b00108;
}
.img-text p{
	padding: 5px;
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 1.5em;
    max-height: 3.2em;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    
}
.img-text h5{
	font-size: 12px;
	color: gray;
	padding: 0 5px;
}
.xem-ct{
	display: block;
    width: 45%;
    text-align: center;
    color: #b00108;
    margin: 0 0 3% 55%;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    position: relative;
    transition: all 0.4s;
}
.xem-ct:hover{
	margin: 0 0 3% 57%;
}

.xem-tat-ca{
	text-align: center;
    width: 100%;
    display: block;
    padding: 10px 0px;
   
    background-color: inherit;
    width: 12%;
    margin: auto;
    margin-top: 3%;
    color: #000;
    font-weight: 600;
    border-radius: 5px;
    position: relative;
    transition: all 0.4s;
    border: 2px solid #b00108;
}
.rb{
	position: absolute;
	opacity: 0;
	visibility: hidden;
	
    top: 12px;
    left: 65%;
}
.xem-tat-ca:hover{
	text-decoration: none;
	width: 15%;
	color: #fff;
	border: 2px solid #b00108;
	 background: #b00108;

}
.xem-tat-ca:hover .rb{
	opacity: 1;
	visibility: visible;
	left: 85%;
	padding-right: 25%;
}
.video-film{
	width: 50%;
	
}
.tong-bien-tap{
	position: relative;
	outline: none;
}
.film-uc{
	padding: 0;
	padding-bottom: 5%;
}
.ds-film{
	/*display: flex;*/
}
.text-film{
	width: 50%;
	background: rgba(0,0,0,0.6);
	color: #fff;
	padding: 15px 20px;
	height: 321px;
	position: absolute;
	z-index: 999;
	top: 0;
	left: 50%;
}
.text-film h3{
	text-align: center;
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 600;
}
.text-film span{
	font-weight: bold;
}
.text-film a{
	color: #F6E02A;
	transition: all 0.4s;
}
.text-film a:hover{
	color: yellow;
	text-decoration: none;
	margin-left: 5%;
}
.slick-prev:before{
	
	font-family: FontAwesome;
    content: "\f053";
    color: #fff;
    font-weight: 900;

}
.slick-next:before{
	font-family: FontAwesome;
	content: "\f054";
	color: #fff;
    font-weight: 900;

}
.slick-prev,
.slick-next{
	position: absolute !important; 
	top: -2%;
	
}
.slick-prev{
	top: -6%;
    left: 94%;
    display: block;
    background: black;
    /* color: yellow; */
    width: 30px;
    height: 30px;
}
.slick-next{
	top: -6%;
	right: 0;
	display: block;
    background: black;
   
    width: 30px;
    height: 30px;
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus{
	background: #000;
}
.slick-dots li.slick-active button:before{
	color: #fff;
	opacity: 1;
}
.slick-dots li button:before{
	font-size: 15px;
	color: #fff;
}
/*giám khảo*/
.giam-khao{
	background: #fff;
    padding: 1% 0 5% 0;
}
.image {
  display: block;
  width: 100%;
  height: 400px;
  border-radius: 10px;
}
.gt-gk{
	text-align: center;
    padding: 0 20% 5% 20%;
}
.gt-gk span{
	font-weight: bold;
	font-size: 20px;
}
.overlay {
  position: absolute;
  bottom: 100%;
  left: 4%;
  right: 0;
  background-color: rgba(0,0,0,0.8);
  overflow: hidden;
  width: 92%;
  height:0;
  transition: .5s ease;
	border-radius: 10px;
}
.gk-1:hover .overlay {
  bottom: 0;
  height: 100%;
}
.gk-1:hover .text-gk {
	opacity: 0;
	visibility: hidden;

}
.text {
  color: white;
  top: 5%;
  position: absolute;
  padding: 0 5%;
  text-align: center;
}
.text h4{
	font-weight: 600;
}
.text span{
	font-weight: bold;
}
.text-gk{
	    background: rgba(0,0,0,0.8);
    color: #fff;
    position: absolute;
    width: 92%;
    top: 80%;
    padding: 3% 0;
    transition: all 0.4s;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.text-gk h3{
	font-size: 20px;
	text-align: center;
}
.text-gk h4{
	font-size: 16px;
	text-align: center;
}
/*Tin tức*/
.tin-tuc{
	padding-bottom: 5%;
}
.img-tintuc{
	overflow: hidden;
	position: relative;
}
.img-tintuc img{
	height: 474px;
	width: 100%;
	transition: all 0.4s;
}
.img-tintuc img:hover{
	transform: scale(1.2);

}
.text-tt{
	background: rgba(0,0,0,0.8);
    position: absolute;
    /* top: 0; */
    width: 100%;
    bottom: 0;
}
.text-tt p{
	    color: #fff;
    text-align: center;
    padding: 10px 8%;
    margin: 0;
    font-size: 18px;
}
.img-tintuc-1{
	overflow: hidden;
	position: relative;
}
.img-tintuc-1 img{
	height: 225px;
	width: 100%;
	transition: all 0.4s;
}
.img-tintuc-1 img:hover{
	transform: scale(1.2);

}
.text-tt-1{
	background: rgba(0,0,0,0.8);
    position: absolute;
    /* top: 0; */
    width: 100%;
    bottom: 0;
}
.text-tt-1 p{
	    color: #fff;
    text-align: center;
    padding: 10px 8%;
    margin: 0;
    font-size: 14px;
}
/*danh sách phim sắp ra*/
.video-1 {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 100%;
}
#videosList{
	border: 1px solid gray;
    border-radius: 5px;
}
.film-sapra{
	background-color: #fff;
	padding-bottom: 5%;
}
.film-new{
	width: 100%;
	height: 190px;
	overflow: hidden;
}
.film-new video{
	display: block;
	margin: auto;
}
.ten-phim{
	    text-align: center;
    display: block;
    color: #000;
    font-weight: 600;
    transition: all 0.4s;
    padding-top: 5%;
    padding-bottom: 5%;
    position: relative;
}
.ten-phim:hover{
	color: #b00108;
	text-decoration: none;
}
.ten-phim:after{
	content: "";
	border: 1px solid gray;
	position: absolute;
	width: 90%;
	bottom: 0;
	left: 5%;
}
.poster1{
	background-image: url(../images/poster-natra.jpg);
	width: 100%;
	height: 190px;
	background-position: center;
	background-size: cover;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.poster2{
	background-image: url(../images/poster-nvb.jpg);
	width: 100%;
	height: 190px;
	background-position: center;
	background-size: cover;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.poster3{
	background-image: url(../images/poster-phapsu.jpg);
	width: 100%;
	height: 190px;
	background-position: center;
	background-size: cover;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.poster4{
	background-image: url(../images/poster-17.jpg);
	width: 100%;
	height: 190px;
	background-position: center;
	background-size: cover;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.video{
	width: 100%;
	height: 190px;
	background-color: #000;
	overflow: hidden;
	z-index: 99;
}

#videosList span{
	font-weight: bold;
}
#videosList p{
	padding: 0 10px;
}
.thevideo{
	padding-top: 0;
}
/*end main*/
/*start footer*/
footer{
	background-image: url(../images/background-content.png);
}
.footer-1{
	text-align: center;
}
.footer-1 img{
	width: 100px;
	height: 150px;
	display: block;
	margin: auto;
}
.footer-1 p{
	color: #fff;
	margin-top: 5%;
}
.footer-1 span{
	font-weight: 600;
}
.footer-2{
	color: #fff;
}
.footer-2 h2{
	font-size: 25px;
	text-transform: capitalize;
	font-weight: bold;
	margin-bottom: 5%;
	position: relative;
}
.footer-2 h2:before{
	content: "";
	width: 30%;
	border: 2px solid yellow;
	position: absolute;
	bottom: -15%;
}
.footer-2 span{
	font-weight: bold;
	margin-top: 5%;
}
@media (min-width: 320px) (max-width: 359px)
{
	.text-film{
		height: 90px !important;
		padding: 3px 3px !important;
	}
	.text-film h3{
		margin-bottom: 0;

	}
}
@media (min-width: 320px) and (max-width: 767px)
{
	.header-1,
	.header-2,
	.giai-thuong-1{
		display: none;
	}
	.gt-lhp p{
		padding: 0 5%;
	}
	.gt-gk{
		padding: 0 5% 5% 5%;
	}
	.gt-gk span{
		font-size: 18px;
	}
	.gk-1{
		margin-bottom: 5%;
	}
	.img-tintuc{
		margin-bottom: 5%;
	}
	.title-film-2{
		font-size: 35px;
	}
	.footer-2 h2{
		font-size: 22px;
	}
	.text-film{
		font-size: 6px;
		padding: 7px 10px;
		height: 101px;
		overflow: hidden;
	}
	.text-film h3{
		font-size: 8px;
	}
	.text-film p{
		margin-bottom: 0;
	}
	.title-film{
		font-size: 35px;
	}
	
	.slick-next, .slick-prev{
		/*top: -15%;
    right: 35px;
    display: block;
    background: black;
    width: 20px;
    height: 20px;*/
    display: none;
	}
}
